{
  "version": "0.2.0",
  "configurations": [
    {
      "type": "java",
      "name": "Spring Boot: Local",
      "request": "launch",
      "mainClass": "com.autobuild.pipeline.PipelineApplication",
      "projectName": "pipeline",
      "env": {
        "SPRING_PROFILES_ACTIVE": "default"
      }
    }
  ]
}
