/* Button{
  width: 30rem;
  height : 30rem;
} */
.buttonGroup{
  display: flex;
  flex-direction: row;
}

.container{
  max-width: 80%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}