h1{
  font-size: 26px;
}

.header{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table {
  outline: powderblue;
  text-align: center;
  margin: auto;
  width: 80%;
}

.container{
  align-items: center;
  max-width: 80%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
}