spring:
  application:
    name: pipeline

---

spring:
  config:
    activate:
      on-profile: basicAuth
  security:
    user:
      name: admin
      password: "{noop}admin"

---

spring:
  config:
    activate:
      on-profile: h2InMemory
  datasource:
    url: jdbc:h2:mem:mydb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console

---

spring:
  config:
    activate:
      on-profile: demo
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/SpringBootRealm
          jwk-set-uri: http://localhost:8180/realms/SpringBootRealm/protocol/openid-connect/certs