name: SpringBoot Service CI

on:
    workflow_call:
        inputs:
            service-path:
                required: true
                type: string

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Set up JDK 17
              uses: actions/setup-java@4
              with:
                java-version: "17"
                distribution: "temurin"
                cache: maven
            - name: Basic Validations
              run: cd ${{ inputs.service-path }} && mvn --batch-mode clean install