.pp-main {
    background: linear-gradient(110deg,#22232e 65%, #393A4B 100%);
    min-height: 100vh;
  }
  .pp-header {
    background: #36354A;
    color: #F4F3F8;
    height: 58px;
    display: flex;
    align-items: center;
    padding-left: 42px;
    padding-right: 36px;
    font-size: 23px;
    justify-content: space-between;
    box-shadow: 0 2px 14px #2D2F3A;
    border-radius: 0 0 12px 12px;
  }
  .pp-title {
    font-weight: 700;
    font-size: 27px;
    letter-spacing: 0.3px;
  }
  .pp-cog {
    font-size: 18px;
    margin-left: 7px;
  }
  .pp-path {
    font-size: 18px;
    color: #B095F7;
    padding: 1px 10px;
    border-radius: 6px;
    background: #393A4B;
    font-weight: 500;
  }
  
  .pp-btn {
    background: none;
    color: #CED3DF;
    border: none;
    font-size: 21px;
    cursor: pointer;
    margin-left: 12px;
    transition: color 0.18s;
  }
  .pp-btn:hover {
    color: #E1B574;
  }
  .pp-logout-btn {
    background: linear-gradient(90deg,#A4576C,#7E5DA9);
    color: #F4F3F8;
    border: none;
    margin-left: 9px;
    padding: 8px 18px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 1px 7px #2D2F3A;
    transition: background 0.22s;
  }
  .pp-logout-btn:hover {
    background: linear-gradient(90deg,#7E5DA9,#A4576C);
  }
  
  .pp-content.card {
    background: #3B3D51;
    border-radius: 12px;
    box-shadow: 0 1.5px 10px #393A4B;
    color: #CED3DF;
    padding: 23px 24px;
    margin: 23px;
  }
  .pp-pipeline-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
  }
  .pp-pipeline-title {
    font-size: 24px;
    font-weight: 700;
    color: #B095F7;
  }
  .pp-pipeline-desc {
    font-size: 15px;
    margin-top: 6px;
    color: #E1B574;
  }
  
  .pp-steps {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 19px;
  }
  .pp-step-btn {
    background: #36354A;
    border-radius: 38px;
    min-width: 58px;
    height: 32px;
    font-size: 15px;
    border: 2px solid #7E5DA9;
    margin-right: 9px;
    color: #CED3DF;
    box-shadow: 0 1px 7px #393A4B;
    cursor: pointer;
    transition: box-shadow 0.10s, background .13s, color .10s;
    outline: none;
  }
  .pp-step-big {
    font-size: 17px !important;
    min-width: 90px;
    border-color: #B095F7;
    background: #3B3D51;
  }
  .pp-step-init {
    border-color: #7E5DA9;
    background: #36354A;
  }
  .pp-step-btn:hover {
    background: #A4576C;
    color: #F4F3F8;
    box-shadow: 0 2px 15px #7E5DA9;
  }
  .pp-step-selected {
    background: linear-gradient(90deg, #B095F7 20%, #A8835E 90%) !important;
    color: #2D2F3A !important;
    border-color: #E1B574 !important;
    box-shadow: 0 6px 12px #E1B574;
  }
  
  .pp-run-edit {
    margin-bottom: 17px;
    font-size: 19px;
    color: #E1B574;
    display: flex;
    gap: 13px;
  }
  
  .pp-bashdesc {
    display: flex;
    flex-direction: row;
    gap: 0px;
  }
  .pp-bash {
    width: 54%;
    background: #2D2F3A;
    color: #D5C4A1;
    font-size: 17px;
    padding: 18px 15px;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 1px 7px #393A4B;
  }
  .pp-bash-header {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 7px;
  }
  .pp-desc {
    width: 46%;
    background: #413944;
    color: #E1B574;
    font-size: 17px;
    padding: 18px 15px;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-shadow: 0 1px 7px #393A4B;
  }
  .pp-desc-header {
    font-size: 19px;
    font-weight: bold;
    color: #A4576C;
    margin-bottom: 8px;
  }
  